  #results {
         display:none;
       }
	  
	  body {
	   display:flex;
	   justify-content:center;
background-image: url(calc.jpg);
background-repeat:no-repeat;
background-position: center:
	   }
	    